
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="jumbotron bg-info " style="background-color:#d9edf7">
    <h1>АРМ Заявки</h1>
    <p class="lead">Вы находитесь в панели управления менеджера</p>
</div>


