
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="jumbotron bg-success " style="background-color:#dff0d8">
    <h1>АРМ Заявки</h1>
    <p class="lead">Вы находитесь в панели управления клиента</p>
</div>


