@model arm_repairs_project.Models.ManageUserViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Смена пароля";
    Layout = "~/Views/Shared/_LayoutChief.cshtml";
}

<h4>Запущена процедура смены пароля пользователя @Model.Fio (@Model.UserName). На почту пользователя отправлено письмо</h4>
<div class="form-group">
    @Html.ActionLink("Назад", "Users", "Chief", null, new { @class = "btn btn-default" })
</div>