
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChief.cshtml";
}

<div class="jumbotron bg-danger" style="background-color: #f2dede;">
    <h1>АРМ Заявки</h1>
    <p class="lead">Вы находитесь в панели управления руководителя</p>
</div>

