
@{
    ViewBag.Title = "Подтвердите Ваш Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Для завершения регистрации пройдите по ссылке, отправленной на ваш электронный адрес</h3>
</div>

