@{
    ViewBag.Title = "Сброс пароля подтвержден";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был успешно сброшен. Теперь вы можете @Html.ActionLink("авторизоваться", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).  
    </p>
</div>
